body {
	background-color: white;
	font-family: Arial;
}
ul.navigation {
	list-style-type: none;
	background-color: darkblue;
	margin-top: -8px;
	margin-left: -8px;
	margin-right: -8px;
	padding-left: 0px;
	overflow: hidden;
}
ul.navigation li{
	float: left;
}
ul.navigation li a{
	text-decoration: none;
	color: white;
	text-align: center;
	padding: 18px 15px;
	display: block;
	font-size: 20px;
}
ul.navigation li a:hover{
	background-color: blue;
}
ul.navigation li img{
	margin: 4px;
	text-align: center;
}
details > summary{
	cursor: pointer;
	background-color:none;
	display: inline;
}
details{
	border-style:solid;
	text-align:center;
}
details > ul li{
	text-align:left;
}